#block-mainpagecontent .featured-image{
  display: none;
}

.center{
  text-align: center;
}
.intro-header{
  margin-bottom: 0;
}


.blog-post{
    h2, .author, .featured-image, .post-meta{
      display: none;
    }
}