<footer class="row white-background" id="main-footer">
    <div class="container">
        <div class="col-sm-4 col-xs-9 ">
            <ul>
                <a target="_blank" href="http://www.iubenda.com/privacy-policy/707146/legal">
                    <li>
                        Privacy Policy
                    </li>
                </a>
                <li>
                    Terms and Conditions
                </li>
                <a href="mailto:aaron@whatsdueapp.com">
                    <li>
                        Support
                    </li>
                </a>
                <a href="mailto:aaron@whatsdueapp.com">
                    <li>
                        Contact Us
                    </li>
                </a>
            </ul>
        </div>

        <div class="col-sm-3 col-xs-3 social">
            <ul>
                <li>
                    <a href="https://www.facebook.com/whatsdue" target="_blank">
                        <img src="/{{ directory }}/assets/img/facebook.png">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/whatsdue" target="_blank">
                        <img src="/{{ directory }}/assets/img/twitter.png">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-5 col-xs-12" >
            <p>Subscribe to our newsletter</p>

            <!-- Begin MailChimp Sign-up Form -->
            <div id="mc_embed_signup">
                <form action="//tlvwebdevelopment.us7.list-manage.com/subscribe/post?u=d92e903af0b79c550c5b286cd&amp;id=ecc96722b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" value="" placeholder="Your Email Address..." name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d92e903af0b79c550c5b286cd_ecc96722b3" tabindex="-1" value=""></div>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                </form>
            </div>
            <!--End MainChimp Sign-up Form-->
        </div>
    </div>
</footer>
